<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="welcome">

        <header>
            <nav>
                <div id="loginBtn">
                    <form action="/logout" method="POST">
                        <button>Logout</button>
                    </form>
                </div>
            </nav>
        </header>
        
        
      <h1> This is dash board</h1>
             
        </div>
</body>

</html>